<!DOCTYPE html>
<html>
<head>
	<title>Student's profile</title>
	<head>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script>
			
		</script>
	<style type="text/css">
		body{
			width: 100%;
			margin: 0;
			padding: 0px;
			font-size: 16px;
			line-height: 24px;
			font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
			color: rgb(33,33,33);
		}
		.report-header{
			background: rgb(55,39,114);
			color: rgb(255,255,255);
			padding: 15px;
			padding-left: 200px;
			box-sizing: border-box;
			display: block;
			position: relative;
		}
		.chartCContainer {
			width: 400px;
		}
		.report-header .logo{
			position: absolute;
			top: 40px;
			left: 15px;
			width: 150px;
		}
		.report-footer{
			background: rgb(55,39,114);
			color: rgb(255,255,255);
			padding: 15px;
			box-sizing: border-box;
			display: block;
			position: relative;
		}
		.report-body{
			width: 70%;
			display: inline-block;
			position: relative;
			padding: 15px;
			box-sizing: border-box;
			vertical-align: top;
		}
		.report-photo{
			width: 28%;
			display: inline-block;
			position: relative;
			vertical-align: top;
			box-sizing: border-box;
			margin-top: 15px;
		}
		.report-photo img{
			width: 100%;
		}
		.report-body .info p{
			border: rgb(204,204,204) solid 1px;
			padding: 5px;
			display: block;
			position: relative;
		}
	</style>
	<meta charset="utf-8">
</head>
<body>
	<div class="report-header">
		<img src="https://www.activfirst.co.uk/wp-content/uploads/logo-example.jpg" class="logo">
		<h3>{{title}}</h3>
		<p>{{date}}</p>
	</div>
	<div class="report-body">
		<div class="info">
			<p>Student: {{name}}</p>
			<p>OEN: {{oen}}</p>
			<p>Age: {{age}}</p>
			<p>Birthdate: {{birthdate}}</p>
			<p>Course: {{course}}</p>
		</div>
		<div class="chartCContainer">
			<canvas id="myChart" width="400" height="400"></canvas>
			<canvas id="myChart2" width="400" height="400"></canvas>
		</div>
		<div class="obs">
			<p>Obs: {{obs}}</p>
		</div>
	</div>
	<div class="report-photo">

		<img src="https://avatars1.githubusercontent.com/u/16254838?s=460&v=4">
	</div>
	<div class="report-footer">
		A generic Company - All Rights reserved.
	</div>
	<script>
		const ctx = document.getElementById('myChart');
		const myChart = new Chart(ctx, {
			type: 'bar',
			data: {
				labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
				datasets: [{
					label: '# of Votes',
					data: [12, 19, 3, 5, 2, 3],
					backgroundColor: [
						'rgba(255, 99, 132, 0.2)',
						'rgba(54, 162, 235, 0.2)',
						'rgba(255, 206, 86, 0.2)',
						'rgba(75, 192, 192, 0.2)',
						'rgba(153, 102, 255, 0.2)',
						'rgba(255, 159, 64, 0.2)'
					],
					borderColor: [
						'rgba(255, 99, 132, 1)',
						'rgba(54, 162, 235, 1)',
						'rgba(255, 206, 86, 1)',
						'rgba(75, 192, 192, 1)',
						'rgba(153, 102, 255, 1)',
						'rgba(255, 159, 64, 1)'
					],
					borderWidth: 1
				}]
			},
			options: {
				animation: false,
				scales: {
					y: {
						beginAtZero: true
					}
				}
			}
		});
		const ctx2 = document.getElementById('myChart2');
		const myChart2 = new Chart(ctx2, {
			type: 'doughnut',
			data: {
				labels: [
					'Red',
					'Blue',
					'Yellow'
				],
				datasets: [{
					label: 'My First Dataset',
					data: [300, 50, 100],
					backgroundColor: [
					'rgb(255, 99, 132)',
					'rgb(54, 162, 235)',
					'rgb(255, 205, 86)'
					],
					hoverOffset: 4
				}]
				},
			options: {
				animation: false,
				scales: {
					y: {
						beginAtZero: true
					}
				}
			}
		});
		</script>
</body>
</html>